# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

#flash binaries
*.swf
*.fla

#out facebook
html/facebook/debug/out
html/facebook/release/out

#out vk
html/vk/debug/out
html/vk/release/out

#out offline
html/offline/debug/out
html/offline/release/out

